<!--
  Generated template for the CreateAppointmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>

  <ion-navbar hideBackButton transparent>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="md-arrow-back" class="whiteicon"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      APPOINTMENT DETAILS
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="primarybg">
  DATE
  <ion-item ion-datepicker (ionChanged)="setApptDate($event);" [value]="localDate" [min]="min" full="true" calendar="true" clear class="ScheduleDate">
    <ion-label>{{localDate | date}}</ion-label>
    <ion-icon name="clipboard" item-left ></ion-icon>
  </ion-item>
  TIME
  <ion-item class="blackfont">
    <ion-datetime displayFormat="hh:mm A" 
    minuteValues="0,15,30,45"
    [(ngModel)]="apptTime">
    </ion-datetime>
    <ion-icon name="ios-clock-outline" item-left></ion-icon>
  </ion-item>
  DURATION
  <ion-item class="blackfont">
    <ion-datetime displayFormat="hh:mm A" 
    minuteValues="0,15,30,45"
    [(ngModel)]="apptTime">
    </ion-datetime>
    <ion-icon name="ios-clock-outline" item-left></ion-icon>
  </ion-item>
</ion-content>
