page-create-appointment {
    .primarybg {
        background-color: #4A1C54;
        color: white;
    }
    .toolbar-title-md {
        color: white;
        font-size: 100%;
    }
    .whiteicon {
        color: white;
    }
    .blackfont {
        color: black;
    }
}
