<!--
  Generated template for the CreateAppointmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>

  <ion-navbar hideBackButton transparent>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="md-arrow-back" class="whiteicon"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      APPOINTMENT DETAILS
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="primarybg">

</ion-content>
