<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>POINTBOOK</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-grid no-padding>
    <ion-row justify-content-center>
      <ion-col width-50 style="margin-right: -6vw;">
          <ion-card *ngFor="let service of services; let i = index" (click)="goToChooseService(service)">
            <div *ngIf="i % 2 == 0">
                <img src="img/redbg.jpg" style="height:30vh;"/>
                <div class="card-title">{{service.SERVICE_NAME}}</div>
            </div>
          </ion-card>
      </ion-col>
      <ion-col width-50 style="margin-right: -6vw;">
        <ion-card *ngFor="let service of services; let i = index" (click)="goToChooseService(service)">
          <div *ngIf="i % 2 != 0">
            <img src="img/redbg.jpg" style="height:30vh;"/>
            <div class="card-title">{{service.SERVICE_NAME}}</div>
          </div>
        </ion-card>
      </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
