page-hello-ionic {

}
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    margin: 0;
    overflow: visible;
    box-shadow: none;
  }

  .card-title {
    position: absolute;
    top: 40%;
    font-size: 1.6em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    padding: 10px;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 60%;
    width: 100%;
    color: #fff;
  }

}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.no-margin-slides{
    margin-left: -5%; 
    margin-right: -5%; 
    width: 110%; 
    margin-bottom: -5%;
    height: 93%;
}
.content-description {
  height: 30vh;
  color: #FFF;
  font-size: 70%; 
  margin: 0 10vw -10vh 10vw;
}
.swiper-pagination {
    margin-bottom: 17vh;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #FFF;
}
.select-button {
  margin: 0 auto;
  margin-top: 10vh;
  width: 80vw;
}

$c1: #114357;
$c2: #826C75;
$c3: #F29492;

.dizzy-gillespie {
  filter: saturate(3);
  width: 0.1px;
  height: 0.1px;
  border: 40px solid transparent;
  border-radius: 5px;
  animation: loader 3s ease-in infinite, spin 1s linear infinite;
}
.dizzy-gillespie::before {
  filter: saturate(0.3);
  display: block;
  position: absolute;
  z-index: -1;
  margin-left: -40px;
  margin-top: -40px;
  content:'';
  height:0.1;
  width:0.1;
  border: 40px solid transparent;
  border-radius: 5px;
  animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
}
.dizzy-gillespie::after {
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: -10px;
  margin-top: -10px;
  content:'';
  height:20px;
  width:20px;
  border-radius: 20px;
  background-color: white;
}
@keyframes loader {
  0% {border-bottom-color:transparent;border-top-color:$c1}
  25% {border-left-color:transparent;border-right-color:$c2}
  50% {border-top-color:transparent;border-bottom-color:$c3}
  75% {border-right-color:transparent;border-left-color:$c2}
  100% {border-bottom-color:transparent;border-top-color:$c1}
}
@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(-360deg)}
}