<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      POINTBOOK
    </ion-title>

    <!--<ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-navbar style="min-height: 5vh;" color="secondary">
    <ion-toolbar style="min-height: 5vh;">
      <div style="text-align: center;">MASSAGE</div>
    </ion-toolbar>
  </ion-navbar>
	<ion-slides class="no-margin-slides" pager="true" effect="fade" *ngIf="fullServiceList != null">
      <ion-slide *ngFor="let serviceitem of fullServiceList" 
      style="background-image: url('img/purplebg.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;">
      <!-- Browser ../img/Icons/Swedish.png -->
      <!-- Device img/Icons/Swedish.png -->
      <img src="img/Icons/{{serviceitem.IMG_ICON}}" style="width:55vw;height:30vh;">
      <h2 style="color: #FFF">{{serviceitem.SERVICE_NAME}}</h2>
      <ion-scroll scrollY="true" class="content-description">
        {{serviceitem.DESCRIPTION}}
      </ion-scroll>
      <button ion-button block class="select-button" color="light" 
      (click)="selectServiceProvider(serviceitem.SERVICE_ID)">SELECT</button>
    </ion-slide>
	</ion-slides>
  <ion-slides class="no-margin-slides" pager="true" effect="fade" *ngIf="fullServiceList == null">
    <ion-slide 
        style="background-image: url('img/purplebg.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;">
        <!-- Browser ../img/Icons/Swedish.png -->
        <!-- Device img/Icons/Swedish.png -->
        <img src="img/Icons/{{oneService.IMG_ICON}}" style="width:55vw;height:30vh;">
        <h2 style="color: #FFF">{{oneService.SERVICE_NAME}}</h2>
        <ion-scroll scrollY="true" class="content-description">
          {{oneService.DESCRIPTION}}
        </ion-scroll>
        <button ion-button block class="select-button" color="light" 
        (click)="selectServiceProvider(oneService.SERVICE_ID)">SELECT</button>
      </ion-slide>
  </ion-slides>
</ion-content>