<!--
  Generated template for the SelectServiceProvidersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>

  <ion-navbar hideBackButton transparent>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="md-arrow-back" class="whiteicon"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      SERVICE PROVIDER
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="primarybg">
  <!--<ion-list>
    <ion-item>
      <h2>Sierra Spa</h2>
      <rating [(ngModel)]="rate" 
        readOnly="false" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half"
        starIconName="star"
        nullable="false"
        (ngModelChange)="onRatingChange($event)" 
        > 
      </rating>
      <h3>Taguig City</h3>
      <p>10:00 AM to 10:00 PM</p>
      <button class="onPromoClass" disabled>ON PROMO</button>
    </ion-item>
    <ion-item class="promoBGColor">
      <h2>PHP 300.00</h2>
    </ion-item>
  </ion-list>-->
  <ion-list *ngFor="let partner of partners; let i = index">
    <ion-item (click)="goToCreateAppointment(partner)">
      <button class="onlineStatus" disabled 
      *ngIf="partner.ONLINE_STATUS=='Y'" icon-start>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
        ONLIINE
      </button>
      <button class="offlineStatus" disabled 
      *ngIf="partner.ONLINE_STATUS=='N'" icon-start>
        <ion-icon name="ios-checkmark-circle"></ion-icon>
        OFFLINE
      </button>
      <h2>{{partner.PARTNER_NAME}}</h2>
      <button class="favStatus" disabled icon-start>
        <ion-icon name="ios-heart"></ion-icon>
        LOVED&nbsp;&nbsp;
      </button>
      <rating [(ngModel)]="partner.RATING_LIFETIME" 
        readOnly="true" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half"
        starIconName="star"
        nullable="false"
        (ngModelChange)="onRatingChange($event)" 
        > 
      </rating>
      <h3>{{partner.CITY}}</h3>
      <p>{{partner.OPERATING_HOURS_START}} to {{partner.OPERATING_HOURS_END}}</p>
      <button class="onPromoClass" disabled *ngIf="partner.ON_PROMO=='Y'">ON PROMO</button>
      <br *ngIf="partner.ON_PROMO=='N'"/>
    </ion-item>
    <ion-item  *ngIf="partner.ON_PROMO=='Y'" class="promoBGColor">
      <h2>PHP {{serviceprice}}</h2>
    </ion-item>
    <ion-item *ngIf="partner.ON_PROMO=='N'" class="noPromoBGColor">
      <h2>PHP {{serviceprice}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
