page-select-service-providers {
    .primarybg {
        background-color: #4A1C54;
    }
    .toolbar-title-md {
        color: white;
        font-size: 100%;
    }
    .whiteicon {
        color: white;
    }
    ul {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: #ffb400;
            ion-icon {
            font-size: 20px;
            }
        }
    }
    button[disabled=disabled], button:disabled {
        opacity: 1;
        &.onPromoClass {
            padding: 5px;
            background-color: #4A1C54;
            color: white;
        }
        &.onlineStatus {
            width: 22vw;
            padding: 5px;
            background-color: darkgoldenrod;
            color: white;
            float: right;
            font-size: 70%;
        }
        &.offlineStatus {
            width: 22vw;
            padding: 5px;
            background-color: lightslategray;
            color: white;
            float: right;
            font-size: 70%;
        }
        &.favStatus {
            width: 22vw;
            padding: 5px;
            background-color: crimson;
            color: white;
            float: right;
            font-size: 70%;
        }
    }
    .promoBGColor{
        background-color: crimson !important;
        text-align: right;
        color: white;
        height: 5vh;
        min-height: 5vh;
    }
    .noPromoBGColor {
        background-color: lightslategray !important;
        text-align: right;
        color: white;
        height: 5vh;
        min-height: 5vh;
    }
}